<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
        <input name="username" placeholder="User Name" type="text">
        <input name="password" placeholder="Password" type="text">
        <input name="email" placeholder="E-mail" type="text">
        <select name="role" id="">
            <option selected value="user">User</option>
            <option value="admin">Admin</option>
        </select>
        <button type="submit">Registrar</button>
    </form>
</body>
</html>